classifier=weka.classifiers.trees.J48
args=
classifier=weka.classifiers.bayes.NaiveBayes
args=
classifier=weka.classifiers.functions.SMO
args=
classifier=weka.classifiers.bayes.BayesNet
args=
classifier=weka.classifiers.functions.MultilayerPerceptron
args=
classifier=weka.classifiers.meta.ClassificationViaClustering
args=
classifier=weka.classifiers.meta.RandomSubSpace
args=
classifier=weka.classifiers.meta.Bagging
args=
classifier=weka.classifiers.rules.ConjunctiveRule
args=
classifier=weka.classifiers.rules.DecisionTable
args=
classifier=weka.classifiers.trees.DecisionStump
args=
classifier=weka.classifiers.functions.VotedPerceptron
args=
classifier=weka.classifiers.lazy.LWL
args=
classifier=weka.classifiers.meta.RotationForest
args=


